{
    "lines": 100,
    "statements": 100,
    "functions": 100,
    "branches": 100,
    "include": [
      "src/**/*.ts"
    ],
    "exclude": [
      "node_modules",
      "test",
      "lib",
      "compiled",
      "src/main.ts"
    ],
    "reporter": [
      "html",
      "text-summary"
    ],
    "require": [
      "ts-node/register",
      "source-map-support/register"
    ],
    "extension": [
      ".ts"
    ],
    "cache": true,
    "all": true,
    "sourceMap": true,
    "instrument": true,
    "check-coverage": false,
    "report-dir": "./coverage",
    "watermarks": {
      "lines": [90, 100],
      "functions": [90, 100],
      "branches": [90, 100],
      "statements": [90, 100]
    }
}